<div class="strib-styles ssa ssb ssc">
  <section class="container-lg elex-header">
      <h5 class="font-popular-light"><span class="font-popular-medium"></span></h5>
      <h1>How third parties can swing elections</h1>
      <p class="byline">By <a href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a> • <span>Star Tribune</span></p> 
      <!-- <div class="article-dateline"><time pubdate datetime="2018-10-25T16:00:00">December 31, 2018</time></div> -->
    </section>

    <p></p>

    <section class="container-lg leadin">
        <p>Do third party challengers in a political race siphon off votes from major party candidates? Questions about the impact of third parties on big elections often arise in their aftermath, particularly in the case of an upset. With multiple third party challengers looking to enter 2020's presidential contest, it's worth examining the data to see how third parties can sway the electorate.</p>
  
        <p>Minnesota has some instructive examples in its past, ranging from Jesse Ventura's successful independent run for governor to razor-thin results being parsed in court to find a victor. But it's the 2016 U.S. House race in Minnesota's Congressional District 2 that shines the best light upon the question at hand.</p>
    </section>

    <div class="slide">
            <div class="map" id="map2">
                    <svg viewBox="0 0 520 600" preserveAspectRatio="xMidYMid">
                            <defs>
                                <marker
                                  id="arrowR"
                                  markerUnits="strokeWidth"
                                  markerWidth="10"
                                  markerHeight="10"
                                  viewBox="0 0 10 10"
                                  refX="6"
                                  refY="6"
                                  orient="auto">
                                  <path d="M2,2 L10,6 L2,10 L6,6 L2,2" style="fill: #8c0808;"></path>
                                </marker>
                              </defs>
                              <defs>
                                    <marker
                                      id="arrowD"
                                      markerUnits="strokeWidth"
                                      markerWidth="10"
                                      markerHeight="10"
                                      viewBox="0 0 10 10"
                                      refX="6"
                                      refY="6"
                                      orient="auto">
                                      <path d="M2,2 L10,6 L2,10 L6,6 L2,2" style="fill: #0258A0;"></path>
                                    </marker>
                                  </defs>
                      </svg>
              </div>
              
            </div>

            <section class="container-lg leadin">
              <p>Rarely does such a stark example of a third-party's impact on a race arise, as 2016's three-way contest between Jason Lewis (R), Angie Craig (DFL) and Paula Overby (GP) gained further clarity after 2018's rematch between Craig and Lewis.</p>
      
              <p>A Star Tribune analysis of precinct-level results throughout the district in 2016 and 2018 shows Craig's totals in a head-to-head match against Lewis very often matched Craig and Overby's split totals against the same opponent.</p>
          </section>

            <div class="slide">
        <div id="table" class="chart">

        </div>
        <div class="byline">Data source: Minnesota Secretary of State | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_" rel="">Jeff Hargarten, Star Tribune</a></div>
    </div>
</div>
