<div class="strib-styles ssa ssb ssc">
  <section class="container-lg elex-header">
      <h5 class="font-popular-light"><span class="font-popular-medium"></span></h5>
      <h1>How third parties can swing elections</h1>
      <p class="byline">By <a href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a> • <span>Star Tribune</span></p> 
      <!-- <div class="article-dateline"><time pubdate datetime="2018-10-25T16:00:00">December 31, 2018</time></div> -->
    </section>

    <p></p>

    <section class="container-lg leadin">
        <p>Multiple third-party candidates running in 2020's political contests across the country are resurrecting questions about their actual impact on big elections.</p>

        <p>Do third party challengers siphon off votes from major-party candidates?</p>
        
        <p>Minnesota's recent past suggests the answer is yes.</p>

        <p>The 2016 U.S. House race in Minnesota's Congressional District 2 – viewed in the light of 2018's rematch – highlights how a minor-party candidate can split votes away from ideologically-similar major party opponents.</p>
    </section>

    <div class="slide">
            <div class="map" id="map2">
                    <svg viewBox="0 0 520 600" preserveAspectRatio="xMidYMid">
                            <!-- <defs>
                                <marker
                                  id="arrowR"
                                  markerUnits="strokeWidth"
                                  markerWidth="10"
                                  markerHeight="10"
                                  viewBox="0 0 10 10"
                                  refX="6"
                                  refY="6"
                                  orient="auto">
                                  <path d="M2,2 L10,6 L2,10 L6,6 L2,2" style="fill: #8c0808;"></path>
                                </marker>
                              </defs>
                              <defs>
                                    <marker
                                      id="arrowD"
                                      markerUnits="strokeWidth"
                                      markerWidth="10"
                                      markerHeight="10"
                                      viewBox="0 0 10 10"
                                      refX="6"
                                      refY="6"
                                      orient="auto">
                                      <path d="M2,2 L10,6 L2,10 L6,6 L2,2" style="fill: #0258A0;"></path>
                                    </marker>
                                  </defs> -->
                      </svg>
              </div>

              <div class="chatter">Most precincts in 2018 had Democratic percentages either <span class="legendary green2">over</span> or <span class="legendary purple1">even</span> (within two points) the combined 2016 totals of Craig and Overby, while only some totals were <span class="legendary orange2">less</span> than the previous cycle, mostly in areas that went more Republican overall.</div>

            </div>

            <section class="container-lg leadin">
              <p></p>
              <p>The three-way 2016 contest between Jason Lewis (R), Angie Craig (DFL) and Paula Overby (GP) gained further clarity after 2018's rematch between Craig and Lewis.</p>
      
              <p>A Star Tribune analysis of District Two's precinct-level comparing 2016 to 2018 shows Craig's totals against Lewis matched Craig and Overby's split vote two-thirds of the time.</p>

              <p>While turnout was different between the presidential year contests and this last midterm, comparing vote percentages reveals a stark trend of Craig gaining in proportions very similar – and in some cases virtually identical – to Overby's totals in 2016.</p>
            </section>

        <div class="slide">
            <div class="chart" id="chart"></div>
            <div class="byline">Data source: Minnesota Secretary of State | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_" rel="">Jeff Hargarten, Star Tribune</a></div>
        </div>

    <section class="container-lg leadin">
        <p>About a third of the time, Craig's 2018 vote percentage surpassed the combined non-Republican vote in 2016, signaling areas in the district became more Democratic between elections.</p>

        <p>Craig fared worse than the combined 2016 outcomes in only a few precincts where Lewis performed better than previously.</p>
    </section>

    <section class="container-lg">
        <div class="article-author-contact">
              <div class="article-author-hcard">
                      <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jeff Hargarten </strong>is a data journalist for the Star Tribune focusing on data-driven reporting and visualization. He has covered elections, technology, criminal justice, demographics and public health.</span></p><p></p>
                      <p><a class="article-author-hcard__email" target="_blank" href="mailto:Jeff.Hargarten@startribune.com?subject=Every police-involved death in Minnesota since 2000" data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Jeff.Hargarten@startribune.com</a>
                      <a class="article-author-hcard__phone" href="tel:612-673-4642" data-linkname="612-673-4642" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4642</a>
                      <a class="article-author-hcard__twitter" href="http://twitter.com/JeffHargarten" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">JeffHargarten</a></p>
              </div>
       </div>
    </section>
</div>
