<div class="strib-styles ssa ssb ssc">
  <section class="container-lg elex-header">
      <h5 class="font-popular-light"><span class="font-popular-medium"></span></h5>
      <h1>How third parties can swing elections: a 2018 retrospective</h1>
      <p class="byline">By <a href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a> • <span>Star Tribune</span></p> 
      <!-- <div class="article-dateline"><time pubdate datetime="2018-10-25T16:00:00">December 31, 2018</time></div> -->
    </section>

    <p></p>

    <section class="container-lg leadin">
            <p>Data-driven hindsight shows third-party presence can have a sizeable influence on political races.</p>

            <p>In 2016, then-candidate Angie Craig (DFL) suffered a bruising loss to Jason Lewis (R) in Minnesota's Second Congressional District, in part due to the Green Party's Paula Overby sharing space on the ballot.</p>

            <p>The impact third-party candidates have on politics races is hotly debated.  But comparing 2016's results to 2018's, when Craig beat Lewis in a rematch, shows that Overby's absence from that latter race significantly impacted the results.</p>
        </section>

    <div class="slide">
            <div class="map" id="map2">
                    <svg viewBox="0 0 520 600" preserveAspectRatio="xMidYMid"></svg>
            </div>
    </div>

            <section class="container-lg leadin">
              <p>A Star Tribune analysis shows precincts in 2018 reported Democratic percentages either <span class="legendary green2">over</span> or <span class="legendary purple1">even</span> (within two points) the combined 2016 totals of Craig and Overby. Only some totals were <span class="legendary orange2">less</span> than the previous cycle, mostly in areas trending Republican.</p>

              <p>Ovarall, Craig's 2018 totals closely matched her and Overby's combined leftwing vote from 2016.</p>
              <p></p>
            </section>

        <div class="slide">
            <div class="chart" id="chart"></div>
            <div class="byline">Data source: Minnesota Secretary of State | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_" rel="">Jeff Hargarten, Star Tribune</a></div>
        </div>

    <section class="container-lg leadin">
            
        <p>About a third of precincts voted more Republican than in 2016 as political polarization strengthened its hold across the state. Craig fared better than 2016's combined leftwing vote in only a few precincts.</p>

        <p>As 2020’s election cycle revs up to full speed, multiple independent challengers are slated to run for seats spanning from local elections to federal races. Whether this coming election showcases similarly contentious multiparty races remains to be seen.</p>
    </section>

    <section class="container-lg">
        <div class="article-author-contact">
              <div class="article-author-hcard">
                      <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jeff Hargarten </strong>is a data journalist for the Star Tribune focusing on data-driven reporting and visualization. He has covered elections, technology, criminal justice, demographics and public health.</span></p><p></p>
                      <p><a class="article-author-hcard__email" target="_blank" href="mailto:Jeff.Hargarten@startribune.com?subject=Every police-involved death in Minnesota since 2000" data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Jeff.Hargarten@startribune.com</a>
                      <a class="article-author-hcard__phone" href="tel:612-673-4642" data-linkname="612-673-4642" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4642</a>
                      <a class="article-author-hcard__twitter" href="http://twitter.com/JeffHargarten" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">JeffHargarten</a></p>
              </div>
       </div>
    </section>
</div>
