/**
 * Main style file for project.
 * Uses SASS, specifically the SCSS syntax
 * http://sass-lang.com/
 */


// Include strib-icons
$strib-fonts-location: '//static.startribune.com/assets/libs/strib-icons/0.0.10/';
@import '@striblab/strib-icons/build/strib-icons.scss';


// Environment noting
@import "shared/_environment";

// Strib styles
// https://github.com/striblab/strib-styles/blob/master/source/styles/_variables.scss

// Assumed that this project lives within an existing page, so we add a
// wrapper that is very specific and wrap our other styles in it so
// that we don't affect other styles on the page.  Note that
// this increases the CSS size, and it means strib-styles won't use
// rems when it would otherwise.
$selector-wrapper: '.strib-styles.ssa.ssb.ssc';
@import '@striblab/strib-styles/source/styles/default-wrapper.scss';

// Project specific styles.  Split styles into files per component
#{$selector-wrapper} {
  // Split your styles into multiple files so its easier to understand and change
  @import 'shared/_project';
}

d3-tooltip-0, .tooltip {
  position: absolute;
  min-width:100px;
  max-width: 160px;
  background-color: rgba(255, 255, 255, 0.85);
  font-size:0.8em;
  border: 1px solid #565656;
  border-radius: 2px;
  padding: 0.5em;
  z-index:1000!important;

  h4 {
    text-align:left;
    padding-top: 0;
    margin-top: 0;
    font-size: 1.1em !important;
    margin-bottom:3px;
  }

  #shifter {
    font-size:0.9em;
    text-align:left;
    font-weight:bold;
    color:#C0272D;
    margin-bottom:5px;

    &.d {
      color:#0258A0;
    }

    &.r {
      color:#C0272D;
    }
  }

  table {
    margin-top:5px;
    width:100%;
  }

  th {
    font-size: 0.7em;
    text-align:left;
    text-transform:uppercase;
    font-weight:normal;
    border-bottom: 2px solid #dfdfdf;
  }

  th.right {
    text-align:right;
  }

  td {
    font-size: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.4em;
    padding-left:2px;
  }

  td.right {
    text-align:right;
  }

  .hidden {
    display: none;
  }

  .label-d {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 2px;
    margin-right: 5px;
    background-color:#0258A0;
  }

  .label-r {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 2px;
    margin-right: 5px;
    background-color:#C0272D;
  }
}

.legendary {
  padding:4px;
  font-family: "Benton Sans", Helvetica, Arial, sans-serif;
  color: #fff;
  font-weight:bold;
  border-radius: 5px;
  padding: 0 7px;
  margin-bottom: 3px;
}
.r1 {
  background-color: #C68985;
  fill: #C68985 !important;
  color: white !important;
  pointer-events: all;
  font-weight: bold;
  stroke:#C68985;
}
.r2 {
  background-color: #A5484D;
  fill: #A5484D !important;
  color: white !important;
  pointer-events: all;
  font-weight: bold;
  stroke:#A5484D;
}
.r3 {
  background-color: #A52129;
  fill: #A52129 !important;
  color: white !important;
  pointer-events: all;
  font-weight: bold;
  stroke:#A52129;
}
.r4 {
  background-color: #8C1B17;
  fill: #8C1B17 !important;
  color: white !important;
  pointer-events: all;
  font-weight: bold;
  stroke:#8C1B17;
}
.d1 {
  background-color: #ABCEE8;
  fill: #ABCEE8 !important;
  color: white !important;
  pointer-events: all;
  font-weight: bold;
  stroke:#ABCEE8;
}
.d2 {
  background-color: #5ca5c3;
  fill: #5ca5c3 !important;
  color: white !important;
  pointer-events: all;
  font-weight: bold;
  stroke:#5ca5c3;
}
.d3 {
  background-color: #4f97c4;
  fill: #4f97c4 !important;
  color: white !important;
  pointer-events: all;
  font-weight: bold;
  stroke:#4f97c4;
}
.d4 {
  background-color: #3f88c5;
  fill: #3f88c5 !important;
  color: white !important;
  pointer-events: all;
  font-weight: bold;
}
.green4 {
  fill: #299E3D;
  background-color: #299E3D;
}
.mapicon {
  text-align:center;
}
.mapicon img {
  width:80px;
}
#map1 {
  max-height:500px;
  overflow:hidden;
}
#map2 {
  max-height:600px;
  overflow:hidden;
}
#map3, #map8 {
  max-height:650px;
  overflow:hidden;
}
#map8 {
  max-height:650px;
  overflow:hidden;
}

.slide .byline a {
  color: #888 !important;
}
.slide .byline {
  line-height:140%;
  font-family: "Benton Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size:0.6em !important;
  color: #888;
  padding-top:10px;
  padding-bottom:10px;
  text-align:left;
}

@media (max-width:520px) {
  .map, #map1, #map2, #map3, #map8 {
    max-height:350px !important;
    height:350px !important;
  }
}
